<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>elements</key><array><string>eye</string><string>eye_pupil</string><string>eye_sad</string><string>eye_round</string><string>eye_blink</string><string>eyebrow</string><string>eyebrow_curve</string><string>mouth_dflt</string><string>mouth_laugh</string><string>mouth_grin</string><string>mouth_grrr</string><string>mouth_ooo</string></array><key>dummies</key><dict></dict></dict></plist>